<p style="color: green"><%= notice %></p>

<div class="card-header d-flex justify-content-between">
  <div>
    <h4>
      <b class="m-0"><%= @todo_list.title %></b>
      <span class="badge bg-<%= @todo_list.badge_color %>"><%= @todo_list.status %></span>
    </h4>
    <p class="text-secondary m-0"><%= @todo_list.persent_complete %> % Complete (<%=@todo_list.total_complete%>/<%= @todo_list.total_todos %> Todo Items)</p>
  </div>
  <%= link_to "Edit", edit_todo_list_path(@todo_list),class:"btn btn-secondary", style:"height:75%;" %>
</div>

<div class="card-body">
  <div class="progress">
    <div class="progress-bar bg-info" role="progressbar" style="width: <%= @todo_list.persent_complete %>%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
  </div>
  <%= form_for([@todo_list, @todo_item]) do |f| %>
    <div class="input-group mt-3 mb-2">
      <%= f.text_field :desc, placeholder: "Add Todo Item...", class:"form-control" %>
      <%#= f.submit :Add, class:"btn btn-outline-primary" %>
    </div>
  <% end %>
  <ul class="list-group mt-4">
    <% @todo_list.todo_items.each do |item| %>
      <%if item.persisted? %>
        <% if item.completed? %>
          <li class="list-group-item">
            <div class="d-flex justify-content-between">
              <span class="text-muted"><em><%= item.desc %></em></span>
              <%= link_to todo_list_todo_item_switch_path(@todo_list,item), class:"btn btn-info" do %>
                <i class="fas fa-check"></i>
              <%end%>
            </div>
          </li> 
          <%else%>
            <li class="list-group-item">
              <div class="d-flex justify-content-between">
               <span class="text-muted"><em><%= item.desc %></em></span>
                <%=link_to todo_list_todo_item_switch_path(@todo_list,item), class:"btn btn-dark" do %>
                 <i class="fas fa-times"></i>
                <%end%>
              </div>
            </li>
          <%end%>
        <% end %>
    <% end %>
  </ul>
</div>
